/* mysite.css stylesheet */

/* 
	If blue border appears on top of page, static media is working: 
	- http://docs.djangoproject.com/en/1.3/howto/static-files/
*/
body {border-top:5px #6CF solid; color:#000; background:#fff; padding:2em; margin:0;}
p#logo {font-weight:bold;}
p.breadcrumbs {}
p#footer {font-size:0.9em; border-top:1px solid #eee; padding-top:1em; color:#999;}
p#footer a {color:#999;}
.quiet {color:#999;}
pre {border:1px solid #ccc; padding:1em;}